<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>index.jsp</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index.jsp</servlet-name>
        <url-pattern>/index.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Dynamic Example Servlet</servlet-name>
        <servlet-class>nl.hu.sp.lesson2.dynamicexample.DynamicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dynamic Example Servlet</servlet-name>
        <url-pattern>/DynamicServlet.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registreren</servlet-name>
        <servlet-class>nl.hu.sp.lesson2.dynamicexample.Registreren</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registreren</servlet-name>
        <url-pattern>/registreren.do</url-pattern>
    </servlet-mapping>

</web-app>